<!-- Basic form layout section start -->
<section id="basic-form-layouts">

    <div class="row text-left">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header pb-2">
                    <h4 class="card-title" id="bordered-layout-colored-controls">ADD A VEHICLE</h4>
                </div>
                <div class="card-content">
                    <div class="px-3">
                        <form class="form form-horizontal form-bordered" (ngSubmit)="onSubmit($event)" id="add-part-form">
                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-info"></i> Vehicle Data</h4>
                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="reg_no">Reg No.</label>
                                            <div class="col-md-9">
                                                <input type="text" id="reg_no" class="form-control border-primary"
                                                       placeholder="Part No" name="reg_no" [(ngModel)]="vehicle.reg_no">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="chasis_no">Chasis No.</label>
                                            <div class="col-md-9">
                                                <input type="text" id="chasis_no" class="form-control border-primary"
                                                       placeholder="Part No" name="chasis_no" [(ngModel)]="vehicle.chasis_no">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="engine_no">Engine No.</label>
                                            <div class="col-md-9">
                                                <input type="text" id="engine_no" class="form-control border-primary"
                                                       placeholder="Part No" name="engine_no" [(ngModel)]="vehicle.engine_no">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="odometer_unit">Odometer Unit</label>
                                            <div class="col-md-9">
                                                <select id="odometer_unit" name="odometer_unit" class="form-control">
                                                    <option value="none" selected="" disabled="">Unit</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="manufacturer">Manufacturer</label>
                                            <div class="col-md-9">
                                                <select id="manufacturer" name="manufacturer_id" class="form-control" [(ngModel)]="vehicle.manufacturer_id">
                                                    <option value="none" selected="" disabled="">Manufacturer</option>
                                                    <option [value]="manufacturer.id" *ngFor="let manufacturer of manufacturers">{{manufacturer.name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="model">Model</label>
                                            <div class="col-md-9">
                                                <select id="model" name="part_model_id" class="form-control" [(ngModel)]="vehicle.part_model_id">
                                                    <option value="none" selected="" disabled="">Model</option>
                                                    <option [value]="model.id" *ngFor="let model of models | keyFilter: 'manufacturer_id':  +vehicle.manufacturer_id">{{model.name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="franchise">Franchise</label>
                                            <div class="col-md-9">
                                                <select id="franchise" name="part_franchise_id" class="form-control" [(ngModel)]="vehicle.part_franchise_id">
                                                    <option value="none" selected="" disabled="">Franchise</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="customer_name">Customer Name</label>
                                            <div class="col-md-9">
                                                <ng-select [items]="customers" bindLabel="name" bindValue="id" id="customer_name"
                                                           placeholder="Select Customer" name="customer_id" [(ngModel)]="vehicle.customer_id">
                                                    <ng-template ng-label-tmp let-item="item">
                                                        <b class="mx-1">{{item.name}}</b> @{{item.email}}
                                                    </ng-template>
                                                    <ng-template ng-option-tmp let-item="item" let-index="index">
                                                        <div class="my-2 mx-2">
                                                            <b class="my-1">{{item.name}}</b> @<span>{{item.email}}</span>
                                                            <br>
                                                            <span><i class="fa fa-address-card-o mr-1"></i>{{item.address}}</span> <span><i class="fa fa-phone ml-2 mr-1"></i>{{item.mobile}}</span>
                                                        </div>
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="contact_person">Contact Person</label>
                                            <div class="col-md-9">
                                                <ng-select [items]="staffList" bindValue="id" id="contact_person"
                                                           placeholder="Select Staff" name="staff_id" [(ngModel)]="vehicle.staff_id">
                                                    <ng-template ng-label-tmp let-item="item">
                                                        <b class="mx-1">{{item.name}}</b> @{{item.email}}
                                                    </ng-template>
                                                    <ng-template ng-option-tmp let-item="item" let-index="index">
                                                        <div class="my-2 mx-2">
                                                            <b class="my-1">{{item.name}}</b> @<span>{{item.email}}</span>
                                                            <br>
                                                            <span><i class="fa fa-bank mr-1"></i>{{item.branch.name}}</span> <span><i class="fa fa-address-card-o ml-2 mr-1"></i>{{item.branch.address}}</span>
                                                        </div>
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="form-group row mt-2">
                                            <label class="col-md-9 offset-md-3" for="notes">Notes</label>
                                            <div class="col-md-9 offset-md-3">
                                                <textarea id="notes" class="form-control col-md-9 border-primary"
                                                          name="note" rows="6" placeholder="Notes"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-actions right">
                                <button type="button" class="btn btn-raised btn-warning mr-1">
                                    <i class="ft-x"></i> Cancel
                                </button>
                                <button type="submit" class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- // Basic form layout section end -->
