<!-- Basic form layout section start -->
<section id="basic-form-layouts">

    <div class="row text-left">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header pb-2">
                    <h4 class="card-title" id="bordered-layout-colored-controls">ADD NEW CUSTOMER</h4>
                </div>
                <div class="card-content">
                    <div class="px-3">
                        <form class="form form-horizontal form-bordered" (ngSubmit)="onSubmit($event)"
                              id="add-part-form">
                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-info"></i> General Info</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="name">Customer Name</label>
                                            <div class="col-md-9">
                                                <input type="text" id="name" class="form-control border-primary"
                                                       placeholder="Customer Name" name="name"
                                                       [(ngModel)]="part.name">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="accountName">Account Name</label>
                                            <div class="col-md-9">
                                                <input type="text" id="accountName" class="form-control border-primary"
                                                       placeholder="Account Name" name="account_name"
                                                       [(ngModel)]="part.account_name">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="contact">Contact Person</label>
                                            <div class="col-md-9">
                                                <input type="text" id="contact" class="form-control border-primary"
                                                       placeholder="Contact Person" name="contact"
                                                       [(ngModel)]="part.contact">
                                            </div>
                                        </div>
                                        <div class="form-group row last">
                                            <label class="col-md-3 label-control" for="email">Email</label>
                                            <div class="col-md-9">
                                                <input type="text" id="email" class="form-control border-primary"
                                                       placeholder="Email" name="email" [(ngModel)]="part.email">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="mobile">Mobile</label>
                                            <div class="col-md-9">
                                                <input type="text" id="mobile" class="form-control border-primary"
                                                       placeholder="Mobile" name="mobile" [(ngModel)]="part.mobile">
                                            </div>
                                        </div>
                                        <div class="form-group row last">
                                            <label class="col-md-3 label-control" for="telephone">Telephone</label>
                                            <div class="col-md-9">
                                                <input type="text" id="telephone" class="form-control border-primary"
                                                       placeholder="Telephone" name="telephone"
                                                       [(ngModel)]="part.telephone">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="address">Address</label>
                                            <div class="col-md-9">
                                                <textarea id="address" class="form-control col-md-9 border-primary"
                                                          name="address" rows="3" placeholder="Address" [(ngModel)]="part.address"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="tax_type">Tax Type</label>
                                            <div class="col-md-9">
                                                <select id="tax_type" name="tax_type" class="form-control"
                                                        [(ngModel)]="part.tax_type">
                                                    <option value="none" selected disabled>Tax Type</option>
                                                    <option value="simple">Simple Interest</option>
                                                    <option value="compound">Compound Interest</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="tax_perc">Tax P%</label>
                                            <div class="col-md-9">
                                                <input type="text" id="tax_perc" class="form-control border-primary"
                                                       placeholder="Tax Percentage" name="tax_perc">
                                            </div>
                                        </div>
                                        <div class="form-group row last">
                                            <label class="col-md-3 label-control" for="comments">Comments</label>
                                            <div class="col-md-9">
                                                <textarea id="comments" class="form-control col-md-9 border-primary"
                                                          name="comments" rows="6" placeholder="Comments"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="form-section"><i class="ft-mail"></i> Account Info</h4>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="account_type">Account
                                                Type</label>
                                            <div class="col-md-9">
                                                <select id="account_type" name="account_type" class="form-control"
                                                        [(ngModel)]="part.account_type">
                                                    <option value="none" selected disabled>Account Type</option>
                                                    <option value="checking">Checking Account</option>
                                                    <option value="savings">Savings Account</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="account_ref">Account Ref No</label>
                                            <div class="col-md-9">
                                                <input type="text" id="account_ref" class="form-control border-primary"
                                                       placeholder="Reference Number" name="account_ref">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="credit_limit">Credit
                                                Limit</label>
                                            <div class="col-md-9">
                                                <input type="text" id="credit_limit"
                                                       class="form-control border-primary" placeholder="Amount"
                                                       name="credit_limit">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="status">Status</label>
                                            <div class="col-md-9">
                                                <select id="status" name="status" class="form-control"
                                                        [(ngModel)]="part.status">
                                                    <option value="none" selected disabled>Status</option>
                                                    <option value="active">Active</option>
                                                    <option value="inactive">Inactive</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="status">Stop Account</label>
                                            <div class="col-md-9">
                                                <ui-switch [(ngModel)]="part.stop_account"></ui-switch>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="status">On Hold</label>
                                            <div class="col-md-9">
                                                <ui-switch [(ngModel)]="part.on_hold"></ui-switch>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-actions right">
                                <button type="button" class="btn btn-raised btn-warning mr-1">
                                    <i class="ft-x"></i> Cancel
                                </button>
                                <button type="submit" class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- // Basic form layout section end -->
