<!--Extended Table starts-->
<div class="row text-left">
    <div class="col-12">
        <div class="content-header">Part List</div>
        <p class="content-sub-header">List of all parts ordered by date added.</p>
    </div>
</div>
<!--Shopping cart starts-->
<section id="shopping-cart">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <table class="table table-responsive-md text-center">
                            <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Part No</th>
                                <th>Retail Price</th>
                                <th>Cost Price</th>
                                <th>Quantity</th>
                                <th>Manufacturer</th>
                                <th>Model</th>
                                <th>Category</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a class="btn btn-success btn-raised" href="/inventory/part">New Part</a></td>
                            </tr>
                            <tr *ngFor="let part of parts">
                                <td><img class="media-object round-media" [src]="part.image_url"
                                         alt="Part image"
                                         style="height: 75px;"/></td>
                                <td>{{part.name}}</td>
                                <td>{{part.number}}</td>
                                <td>GHS {{part.retail_price}}</td>
                                <td>GHS {{part.cost_price}}</td>
                                <td>{{part.quantity}}</td>
                                <td>{{part.manufacturer.name}}</td>
                                <td>{{part.model.name}}</td>
                                <td>{{part.category.name}}</td>
                                <td>
                                    <a class="danger" data-original-title="" title="" (click)="delete(part.id)">
                                        <i class="ft-trash font-medium-3"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Shopping cart ends-->
