<!-- Header footer section start -->
<section id="header-footer">
    <div class="row text-left">
        <div class="col-12 mt-3 mb-1">
            <div class="content-header">Recycle Bin</div>
        </div>
    </div>
    <div class="row text-left" matchHeight="card">
        <div class="col-lg-2 col-md-3" *ngFor="let trash of trash">
            <div class="model card" [ngClass]="trash.model_type">
                <div class="card-header">
                    <div class="media">
                        <div class="media-left align-self-center">
                            <h6 class="type">{{trash.model_type}}</h6>
                        </div>
                    </div>
                </div>
                <div class="card-content" [ngSwitch]="trash.model_type">
                    <div class="card-body pt-2 pb-0" *ngSwitchCase="'order'">
                        <div class="media">
                            <div class="media-body white text-left">
                                <h5 class="font-large-1 mb-0"># {{trash.id | idPad: 'PO'}}</h5>
                            </div>
                            <div class="media-right white text-right">
                                <i class="icon-notebook font-large-1"></i>
                            </div>
                        </div>
                        <h6 class="mt-3 mb-3">{{trash.status}}</h6>
                    </div>
                    <div class="card-body pt-2 pb-0" *ngSwitchCase="'enquiry'">
                        <div class="media">
                            <div class="media-body white text-left">
                                <h5 class="font-large-1 mb-0"># {{trash.id | idPad: 'EN'}}</h5>
                            </div>
                            <div class="media-right white text-right">
                                <i class="icon-bulb font-large-1"></i>
                            </div>
                        </div>
                        <h6 class="mt-3 mb-3">NO DATA</h6>
                    </div>
                    <div class="card-body pt-2 pb-0" *ngSwitchCase="'supplier'">
                        <div class="media">
                            <div class="media-body white text-left">
                                <h5 class="font-large-1 mb-0">{{trash.name}}</h5>
                            </div>
                            <div class="media-right white text-right">
                                <i class="ft-wind font-large-1"></i>
                            </div>
                        </div>
                        <h6 class="mt-3 mb-3">{{trash.address}}</h6>
                    </div>
                    <div class="card-body pt-2 pb-0" *ngSwitchCase="'part'">
                        <div class="media">
                            <div class="media-body white text-left">
                                <h5 class="font-large-1 mb-0">#{{trash.number}}</h5>
                            </div>
                            <div class="media-right white text-right">
                                <i class="icon-bulb font-large-1"></i>
                            </div>
                        </div>
                        <h6 class="mt-3 mb-3">{{trash.name}}</h6>
                    </div>
                    <div class="card-body pt-2 pb-0" *ngSwitchDefault>
                        <div class="media">
                            <div class="media-body white text-left">
                                <h5 class="font-large-1 mb-0">NO TITLE</h5>
                            </div>
                            <div class="media-right white text-right">
                                <i class="icon-bulb font-large-1"></i>
                            </div>
                        </div>
                        <h6 class="mt-3 mb-3">NO SUBTITLE</h6>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <span class="float-left">{{trash.deleted_at | date: 'medium'}}</span>
                    <br>
                    <span class="float-right">
                        <a (click)="restore(trash)" class="card-link text-primary">Restore</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Header footer section end -->
