<!--Extended Table starts-->
<div class="row text-left">
    <div class="col-12">
        <div class="content-header">Financials - Creditors' List</div>
        <p class="content-sub-header">Summary of all customers and their transactions.</p>
    </div>
</div>

<!--Shopping cart starts-->
<section id="shopping-cart">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <table class="table table-responsive-md text-center">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Contact</th>
                                <th>Purchase Orders</th>
                                <th>Received</th>
                                <th align="right">Available Credit</th>
                                <th align="right">Credit Balance</th>
                                <th>30 Days+</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a class="btn btn-success btn-raised" href="/servicing/customers/new">New Supplier</a></td>
                            </tr>
                            <tr *ngFor="let supplier of suppliers">
                                <td>{{supplier.name}}</td>
                                <td>{{supplier.address}}</td>
                                <td align="right">{{supplier.contact}}</td>
                                <td align="right">{{supplier.orders_count}}</td>
                                <td align="right">{{supplier.receipts_count}}</td>
                                <td align="right">{{supplier.total | currency : 'GHS '}}</td>
                                <td align="right">GHS {{0 | currency: 'GHS '}}</td>
                                <td></td>
                                <td>
                                    <a class="info mx-2" title="View Details" disabled="supplier.total" [class.unlinkable]="!supplier.total" (click)="view(supplier)">
                                        <i class="ft-eye font-medium-3"></i>
                                    </a>
                                    <a class="danger mx-2" title="Delete Supplier" (click)="delete(supplier.id)">
                                        <i class="ft-trash font-medium-3"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Shopping cart ends-->
