<!--Shopping cart starts-->
<section id="shopping-cart">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="card-header">
                <h4 class="card-title">New Tansaction</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <form class="form form-horizontal form-bordered"
                          id="add-part-form">
                        <div class="form-body">
                            <h4 class="form-section"><i class="ft-info"></i> Transaction Type</h4>
                            <div class="mt-3 mb-2 row">
                                <div class="mx-auto">
                                    <div class="custom-control custom-radio custom-control-inline float-left">
                                        <input type="radio" id="type_payment" name="payment_type"
                                               value="payment"
                                               class="custom-control-input" [(ngModel)]="payment.type">
                                        <label class="custom-control-label" for="type_payment">Payment</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline  float-left">
                                        <input type="radio" id="type_receipt" name="payment_type"
                                               value="receipt"
                                               class="custom-control-input" [(ngModel)]="payment.type">
                                        <label class="custom-control-label" for="type_receipt">Receipt</label>
                                    </div>
                                </div>
                            </div>
                            <h4 class="form-section"><i class="ft-info"></i> Sender</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="customer_name">General Ledger</label>
                                        <div class="col-md-9">
                                            <ng-select [items]="customers" bindLabel="name" bindValue="id"
                                                       id="customer_name" (ngModelChange)="loadVehicle($event)"
                                                       placeholder="Select Account" name="customer_id"
                                                       [(ngModel)]="vehicle.customer_id">
                                                <ng-template ng-label-tmp let-item="item">
                                                    <b class="mx-1">{{item.name}}</b> @{{item.email}}
                                                </ng-template>
                                                <ng-template ng-option-tmp let-item="item" let-index="index">
                                                    <div class="my-2 mx-2">
                                                        <b class="my-1">{{item.name}}</b>
                                                        @<span>{{item.email}}</span>
                                                        <br>
                                                        <span><i
                                                                class="fa fa-address-card-o mr-1"></i>{{item.address}}</span>
                                                        <span><i
                                                                class="fa fa-phone ml-2 mr-1"></i>{{item.mobile}}</span>
                                                    </div>
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="payment_type">Payment Type</label>
                                        <div class="col-md-9">
                                            <select id="payment_type" name="status" class="form-control">
                                                <option value="none" selected disabled>No Type Selected</option>
                                                <option value="cash">Cash</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="acct_name">Acct Name</label>
                                        <div class="col-md-9">
                                            <input type="text" id="acct_name" class="form-control border-primary"
                                                   placeholder="Acct Name" name="acct_name" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="status">Status</label>
                                        <div class="col-md-9">
                                            <select id="status" name="status" class="form-control">
                                                <option value="none" selected disabled>No Status Selected</option>
                                                <option value="open">Open</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="total_payment">Total Payment</label>
                                        <div class="col-md-9">
                                            <input type="text" id="total_payment" class="form-control border-primary"
                                                   placeholder="Acct Name" name="total_payment" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="open_balance">Open Balance</label>
                                        <div class="col-md-9">
                                            <input type="text" id="open_balance" class="form-control border-primary"
                                                   placeholder="Open Balance" name="open_balance" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="closing_balance">Closing
                                            Balance</label>
                                        <div class="col-md-9">
                                            <input type="text" id="closing_balance" class="form-control border-primary"
                                                   placeholder="Closing Balance" name="closing_balance" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="payment_ref">Payment
                                            Reference</label>
                                        <div class="col-md-9">
                                            <input type="text" id="payment_ref" class="form-control border-primary"
                                                   placeholder="Closing Balance" name="payment_ref" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 class="form-section"><i class="ft-info"></i> Recipient</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control">Ledger Type</label>
                                        <div class="col-md-9">
                                            <div class="custom-control custom-radio custom-control-inline float-left">
                                                <input type="radio" id="enquiry_request" name="request_type"
                                                       value="enquiry"
                                                       class="custom-control-input" [(ngModel)]="requestType">
                                                <label class="custom-control-label"
                                                       for="enquiry_request">General</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline  float-left">
                                                <input type="radio" id="order_request" name="request_type"
                                                       value="order"
                                                       class="custom-control-input" [(ngModel)]="requestType">
                                                <label class="custom-control-label" for="order_request">Creditor</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline  float-left">
                                                <input type="radio" id="order_request" name="request_type"
                                                       value="order"
                                                       class="custom-control-input" [(ngModel)]="requestType">
                                                <label class="custom-control-label" for="order_request">Debtor</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="customer_name">Account</label>
                                        <div class="col-md-9">
                                            <ng-select [items]="customers" bindLabel="name" bindValue="id"
                                                       id="customer_name" (ngModelChange)="loadVehicle($event)"
                                                       placeholder="Select Customer" name="customer_id"
                                                       [(ngModel)]="vehicle.customer_id">
                                                <ng-template ng-label-tmp let-item="item">
                                                    <b class="mx-1">{{item.name}}</b> @{{item.email}}
                                                </ng-template>
                                                <ng-template ng-option-tmp let-item="item" let-index="index">
                                                    <div class="my-2 mx-2">
                                                        <b class="my-1">{{item.name}}</b>
                                                        @<span>{{item.email}}</span>
                                                        <br>
                                                        <span><i
                                                                class="fa fa-address-card-o mr-1"></i>{{item.address}}</span>
                                                        <span><i
                                                                class="fa fa-phone ml-2 mr-1"></i>{{item.mobile}}</span>
                                                    </div>
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="payment_type">Payment Type</label>
                                        <div class="col-md-9">
                                            <select id="payment_type" name="status" class="form-control">
                                                <option value="none" selected disabled>No Type Selected</option>
                                                <option value="cash">Cash</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="acct_name">Acct Name</label>
                                        <div class="col-md-9">
                                            <input type="text" id="acct_name" class="form-control border-primary"
                                                   placeholder="Acct Name" name="acct_name" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="status">Status</label>
                                        <div class="col-md-9">
                                            <select id="status" name="status" class="form-control">
                                                <option value="none" selected disabled>No Status Selected</option>
                                                <option value="open">Open</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="total_payment">Total Payment</label>
                                        <div class="col-md-9">
                                            <input type="text" id="total_payment" class="form-control border-primary"
                                                   placeholder="Acct Name" name="total_payment" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="open_balance">Open Balance</label>
                                        <div class="col-md-9">
                                            <input type="text" id="open_balance" class="form-control border-primary"
                                                   placeholder="Open Balance" name="open_balance" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="closing_balance">Closing
                                            Balance</label>
                                        <div class="col-md-9">
                                            <input type="text" id="closing_balance" class="form-control border-primary"
                                                   placeholder="Closing Balance" name="closing_balance" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="payment_ref">Payment
                                            Reference</label>
                                        <div class="col-md-9">
                                            <input type="text" id="payment_ref" class="form-control border-primary"
                                                   placeholder="Closing Balance" name="payment_ref" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 mt-2">
                                <span style="float: right">
                                    <button class="btn btn-success btn-raised" (click)="save()">Save</button>
                                </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Shopping cart ends-->
