<!-- Basic form layout section start -->
<section id="basic-form-layouts">

    <div class="row text-left">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header pb-2">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title" id="bordered-layout-colored-controls">JOB FORM</h4>
                        </div>
                        <div class="col-md-6" *ngIf="isNew">
                            <button class="btn btn-raised btn-primary" (click)="openCosting()">
                                <i class="fa fa-check-square-o"></i> Costing
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="px-3">
                        <form class="form form-horizontal form-bordered" (ngSubmit)="saveJob()"
                              id="add-part-form">
                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-info"></i> Vehicle Data</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="customer_name">Customer</label>
                                            <div class="col-md-9">
                                                <ng-select [items]="customers" bindLabel="name" bindValue="id"
                                                           id="customer_name" (change)="loadVehicles($event)"
                                                           placeholder="Select Customer" name="customer_id">
                                                    <ng-template ng-label-tmp let-item="item">
                                                        <b class="mx-1">{{item.name}}</b> @{{item.email}}
                                                    </ng-template>
                                                    <ng-template ng-option-tmp let-item="item" let-index="index">
                                                        <div class="my-2 mx-2">
                                                            <b class="my-1">{{item.name}}</b>
                                                            @<span>{{item.email}}</span>
                                                            <br>
                                                            <span><i
                                                                    class="fa fa-address-card-o mr-1"></i>{{item.address}}</span>
                                                            <span><i
                                                                    class="fa fa-phone ml-2 mr-1"></i>{{item.mobile}}</span>
                                                        </div>
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="vehicle_id">Vehicle</label>
                                            <div class="col-md-9">
                                                <ng-select [items]="vehicles" bindLabel="name" bindValue="id"
                                                           id="vehicle_id"
                                                           placeholder="Select Vehicle" name="customer_id"
                                                           [(ngModel)]="job.vehicle_id">
                                                    <ng-template ng-label-tmp let-item="item">
                                                        <b class="mx-1">{{item.model.manufacturer.name}} {{item.model.name}}</b>
                                                        <span><i class="fa fa-car mr-1"></i> REG: {{item.reg_no}}</span>
                                                    </ng-template>
                                                    <ng-template ng-option-tmp let-item="item" let-index="index">
                                                        <div class="my-2 mx-2">
                                                            <b class="my-1">{{item.model.manufacturer.name}} {{item.model.name}}</b>
                                                            <br>
                                                            <span><i
                                                                    class="fa fa-car mr-1"></i> REG: {{item.reg_no}}</span>
                                                        </div>
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="form-section"><i class="ft-info"></i> Job Request Info</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="job_type">Job Type</label>
                                            <div class="col-md-9">
                                                <select id="job_type" name="job_type" class="form-control" [(ngModel)]="job.job_type_id">
                                                    <option value="none" selected="" disabled="">Job Type</option>
                                                    <option value="1">Tyre Change</option>
                                                    <option value="2">Gasket Fix</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="intake">Intake</label>
                                            <div class="col-md-9">
                                                <select id="intake" name="intake" class="form-control"
                                                        [(ngModel)]="job.intake_id">
                                                    <option value="none" selected="" disabled="">Intake</option>
                                                    <option value="1">By Appointment</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="warranty">Warranty</label>
                                            <div class="col-md-9">
                                                <ui-switch [(ngModel)]="job.warranty" id="warranty"></ui-switch>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="repeat">Repeat Repair</label>
                                            <div class="col-md-9">
                                                <ui-switch [(ngModel)]="job.repeat_repair" id="repeat"></ui-switch>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="internal">Internal Job</label>
                                            <div class="col-md-9">
                                                <ui-switch [(ngModel)]="job.internal_job" id="internal"></ui-switch>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="job_time">Estimated Job
                                                Time</label>
                                            <div class="col-md-9">
                                                <input type="text" id="job_time" class="form-control border-primary"
                                                       placeholder="Job Time" name="job_time"
                                                       [(ngModel)]="job.est_time">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="payment_type">Payment Type</label>
                                            <div class="col-md-9">
                                                <select id="payment_type" name="payment_type" class="form-control"
                                                    [(ngModel)]="job.payment_type_id" >
                                                    <option value="none" selected="" disabled="">Payment Type</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row mt-2">
                                            <label class="col-md-3 label-control" for="notes">Request Details</label>
                                            <div class="col-md-9 offset-md-3">
                                                <textarea id="notes" class="form-control border-primary"
                                                          name="note" rows="12" placeholder="" [(ngModel)]="job.request_details"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="form-section"><i class="ft-info"></i> Appointment &amp; Confirmation</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="appt_date">Appt. Date</label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <input class="form-control" placeholder="yyyy-mm-dd" id="appt_date"
                                                           name="appt_date" [(ngModel)]="job.appt_date" ngbDatepicker
                                                           #d2="ngbDatepicker">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text" (click)="d2.toggle()">
                                                            <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="job_time">Appt By</label>
                                            <div class="col-md-9">
                                                <input type="text" id="appt_by" class="form-control border-primary"
                                                       placeholder="Appt By" name="appt_by" [(ngModel)]="job.appt_by">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="confirmed">Confirmed</label>
                                            <div class="col-md-9">
                                                <ui-switch [(ngModel)]="job.confirmed" id="confirmed"></ui-switch>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="appt_time">Appt. Time</label>
                                            <div class="col-md-9">
                                                <ngb-timepicker [(ngModel)]="job.appt_time" [meridian]="true"
                                                                id="appt_time" [spinners]="false"></ngb-timepicker>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="job_time">Resch</label>
                                            <div class="col-md-9">
                                                <input type="text" id="resch" class="form-control border-primary"
                                                       placeholder="Resch" name="resch" [(ngModel)]="job.resch">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="job_time">Appt By</label>
                                            <div class="col-md-9">
                                                <input type="text" id="appt_by" class="form-control border-primary"
                                                       placeholder="Appt By" name="appt_by" [(ngModel)]="job.appt_by">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <h4 class="form-section"><i class="ft-info"></i> Customer Reception &amp; Delivery</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="appt_date">Reception Date</label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <input class="form-control" placeholder="yyyy-mm-dd" id="appt_date"
                                                           name="appt_date" [(ngModel)]="job.appt_date" ngbDatepicker
                                                           #d2="ngbDatepicker">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text" (click)="d2.toggle()">
                                                            <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="appt_time">Reception Time</label>
                                            <div class="col-md-9">
                                                <ngb-timepicker [(ngModel)]="job.appt_time" [meridian]="true"
                                                                id="appt_time" [spinners]="false"></ngb-timepicker>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="job_time">Odometer Unit
                                                In</label>
                                            <div class="col-md-9">
                                                <input type="text" id="appt_by" class="form-control border-primary"
                                                       placeholder="Appt By" name="appt_by" [(ngModel)]="job.appt_by">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="job_time">Received By</label>
                                            <div class="col-md-9">
                                                <input type="text" id="appt_by" class="form-control border-primary"
                                                       placeholder="Appt By" name="appt_by" [(ngModel)]="job.appt_by">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="appt_date">Delivery Date</label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <input class="form-control" placeholder="yyyy-mm-dd" id="appt_date"
                                                           name="appt_date" [(ngModel)]="job.appt_date" ngbDatepicker
                                                           #d2="ngbDatepicker">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text" (click)="d2.toggle()">
                                                            <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="appt_time">Delivery Time</label>
                                            <div class="col-md-9">
                                                <ngb-timepicker [(ngModel)]="job.appt_time" [meridian]="true"
                                                                id="appt_time" [spinners]="false"></ngb-timepicker>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="job_time">Odometer Unit
                                                Out</label>
                                            <div class="col-md-9">
                                                <input type="text" id="appt_by" class="form-control border-primary"
                                                       placeholder="Appt By" name="appt_by" [(ngModel)]="job.appt_by">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="job_time">Delivered By</label>
                                            <div class="col-md-9">
                                                <input type="text" id="appt_by" class="form-control border-primary"
                                                       placeholder="Appt By" name="appt_by" [(ngModel)]="job.appt_by">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="form-actions right">
                                <button type="button" class="btn btn-raised btn-warning mr-1">
                                    <i class="ft-x"></i> Cancel
                                </button>
                                <button type="submit" class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- // Basic form layout section end -->
